#app {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    min-width: 1000px;
    height: calc(100vw * 188 / 2007);
    min-height: 155px;
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    user-select: none;
    pointer-events: none;
}

#selectBox>button {
    margin-right: 1em;
}
