#app {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 2007px;
    min-width: 1000px;
    height: clamp(155px, 9.37vw, 188px);
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    user-select: none;
    pointer-events: none;
}

#selectBox>button {
    margin-right: 1em;
}
